.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery-item{
  /* max-height: 400px */
}
.gallery-item{
  height: 400px;
  width: 400px;
}
.gallery-item img{
  width:100%;
  height:100%;
}
.header-spacing{
  height: 70px;
  margin-bottom: 2em;
}

.section-spacing{
  margin:70px auto;
  padding-bottom: 3em ;
  border-bottom: rgb(235, 39, 46) 2px solid;
}

.carousel-item > img { 
  width: 100%; 
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}